body {
      font-family: arial;
       background-color: rgb(34,139,34);}
h1 {
    font-family: Verdana;
    background-color: red;
    font-size: 100%;
    text-decoration: underline;}
h2 {
    font-family: Sans-serif:
    color: rgb(255,255,255);
    font-size: 100%;
    text-decoration: underline;}
p b{
  text-decoration: underline;
  text-decoration-color: red;
}
p c  {
      color: Violet;} 
